<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>iBiblioteca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">iBiblioteca</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- CARDS LIBROS -->
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-justify-content-center">
          <!-- <ion-thumbnail> -->
            <img alt="" src=".././../../assets/libros/portada-charlie-fabrica-chocolate-w-182x300.jpg.webp" />
          <!-- </ion-thumbnail> -->
        </ion-col>
        <ion-col>
              <ion-card-header>
                <ion-card-title>Charlie y la fábrica de chocolate</ion-card-title>
                <ion-card-subtitle>Año: 2021</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Autor: Roald Dahl
              </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-justify-content-center">
          <!-- <ion-thumbnail> -->
            <img alt="" src=".././../../assets/libros/el_pequeno_nicolas_diga-w-186x300.jpg.webp" />
          <!-- </ion-thumbnail> -->
        </ion-col>
        <ion-col>
              <ion-card-header>
                <ion-card-title>El pequeño Nicolás</ion-card-title>
                <ion-card-subtitle>Año: 2013</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Autor: Roald Dahl
              </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-justify-content-center">
          <!-- <ion-thumbnail> -->
            <img alt="" src=".././../../assets/libros/LOS-HIJOS-DEL-TRUENO-w-179x300.jpg.webp" />
          <!-- </ion-thumbnail> -->
        </ion-col>
        <ion-col>
              <ion-card-header>
                <ion-card-title>Los hijos del Trueno</ion-card-title>
                <ion-card-subtitle>Año: 2007</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Autor: F. Lalana y J. M. Almárcegui
              </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-justify-content-center">
          <!-- <ion-thumbnail> -->
            <img alt="" src=".././../../assets/libros/portada-cuentos-dan-mucho-juego-w-180x300.jpg.webp" />
          <!-- </ion-thumbnail> -->
        </ion-col>
        <ion-col>
              <ion-card-header>
                <ion-card-title>Cuentos que dan mucho juego</ion-card-title>
                <ion-card-subtitle>Año: 2011</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Autor: Varios Autores
              </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


</ion-content>

